.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: rgb(24 24 27);
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    min-height: 75px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.hidden{display: none;}
.link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 33%;
    font-size: 14px;
}
.link:hover{
    color: rgb(66 133 244);
}
.statusContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33%;
    margin-right: 10px;
}
.status{
    margin-right: 5px;
    text-align: right;
    font-size: 14px;
}
.indicator{
    height: 15px;
    width: 15px;
    display: inline-block;
}
.playable{
    background-color: rgb(9, 160, 9)
}
.ingame{
    background-color: rgb(64, 99, 255);
}
.boots{
    background-color: rgb(245, 245, 26);;
}
.nothing{
    background-color: red;
}
.testedBy{
    width: 33%;
    font-size: 14px;
    margin-left: 25px;
}
@media screen and (min-width: 768px){
    .container{
        width: 50%;
        justify-content:space-between;
    }
}