.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}
.searchBar{
    width: 265px;
    height: 40px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(39 39 42);
    font-family: 'Roboto', sans-serif;
}
.searchBtn{
    height: 40px;
    width: 80px;
    color: rgb(66 133 244);
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgb(39 39 42);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
