.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.btnContainer{
    display: flex;
}
.title{
    cursor: pointer;
    text-align: center;
    font-size: 22px;
}